<div class="bg-white border border-gray-200 rounded-xl divide-y w-auto">
  <div class="m-2 p-6">
    <div class="flex items-center justify-center">
      <img
        class="w-25 h-25 rounded-full m-3"
        src="{{media_path}}user_avatar.png"
        alt="user avatar"
      >
    </div>
    <div class="flex items-center justify-center flex-col gap-2">
      <div class="text-sm font-normal text-black-400" title="User name">
        Jane Cooper
      </div>
      <div class="flex items-center justify-center flex-col gap-2">
        <div class="text-sm text-gray-600">
          Paradigm Representative
        </div>
        <div>
           <span class="bg-green-50 py-1 px-2 text-green-400 text-xs font-normal rounded-full dark:bg-green-200 dark:text-green-900">
              Admin
            </span>
        </div>
      </div>
    </div>

  </div>
  <div class="flex items-center justify-around">
    <div class="flex items-center gap-2">
      <span><img src="{{media_path}}email.svg" alt="user image"></span>
      <span class="text-gray-700">Email</span>
    </div>

    <span><img src="{{media_path}}divider.svg"></span>

    <div class="flex items-center gap-2">
      <span><img src="{{media_path}}phone.svg" alt="user image"></span>
      <span class="text-gray-700">Call</span>
    </div>
  </div>
</div>
